# Dependencias locales (se instalan en Docker)
node_modules
npm-debug.log
yarn-error.log

# Directorio de build de Angular
dist

# Archivos de control
.git
.gitignore
.dockerignore
.vscode
.idea

# Sistemas operativos
.DS_Store
Thumbs.db